<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         processIsolation="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" cacheDirectory=".phpunit.cache"
         colors="true"
         backupGlobals="false"
         backupStaticProperties="false"
         stopOnFailure="true"
         stopOnNotice="true"
         stopOnWarning="true">
    <php>
        <server name="KERNEL_DIR" value="tests/"/>
    </php>
    <testsuites>
        <testsuite name="RentTrack PaySafeClientBundle Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
